.Alert {
  position: fixed;
  bottom: 0.5rem;
  left: 15px;

  padding: 12px;

  border-radius: 5px;
  background-color: crimson;
  font-size: 0.9rem;
  color: #ffffff;

  @media print {
    display: none;
  }
}
